@import "./globals";

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input {
  width: 19rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-bottom: thin solid $light-text-color;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: $text-color;
  background-color: $foreground-color;
  transition: border-color 0.2s, box-shadow 0.2s;
}