@import "./globals.scss";

#main {
  @include flex;
  column-gap: 7.5rem;

  width: 100%;
  height: 40rem;

  #hero-text-area {
    @include flex(center, flex-start, column);
    row-gap: 2rem;

    width: 34.75rem;
    height: 22.75rem;

    #hero-text {
      @include flex(center, flex-start, column);
      row-gap: 0rem;

      h1 {
        font-size: 3rem;
        line-height: 4rem;
        font-weight:normal;
      }

      #colored {
        font-weight: bold;

        background: $special-color;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      
    }
    .gray {
        font-size: 1.5rem;
        font-weight: 300;
        text-wrap: pretty;
        color: $light-text-color;
      }
  }

  // I tried using an img tag but I ended up with the same result.
  // So I opted for a ::before instead. The problem is that 
  // if you check devtools, the image extends further than image-area.
  // I don't know what to do about that, so I'm leaving it as is.
  // This is also the reason why there are negative margins
  // in the media queries.
  #image-area {
    position: relative;
    width: 24rem;
    height: 24rem;
    overflow: hidden; 
    transform: rotate(45deg);
  
    &::before {
      content: "";
      position: absolute;


      width: 36rem;
      height: 36rem;
      background: url("/hero/hero.webp") no-repeat center/cover;

      @media screen and (max-width: 27rem) {
        background: url("/hero/hero-mobile.webp") no-repeat center/cover;;
      }

      transform: rotate(-45deg) translate(0, -22%);
    }
  }
}

@media screen and (max-width: $landscape-breakpoint) {
  #main {
    column-gap: 2rem;

    #hero-text-area {
      margin-left: -3.5rem;
    }
  }
}

// Styles for tablet (portrait) viewport
@media screen and (max-width: $portrait-breakpoint) {
  #main {

    #hero-text-area {
      margin-left: -2.5rem;

      width: 24rem;
      height: 20rem;

      #hero-text {
        h1 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }

    #image-area {

      width: 16rem;
      height: 16rem;

      &::before {
        width: 24rem;
        height: 24rem;
      }
    }
  }
}


// Styles for mobile viewport
@media screen  and (max-width: $mobile-breakpoint) {

  #main {
    @include flex(space-between, center, column);
 
    height: 34.25rem;

    #hero-text-area {
      @include flex(center, center, column);
      order: 2;

      margin-left: 0;

      width: 75%;
      height: 50%;

      #hero-text {
        @include flex(center, center, column);
        
        width: 100%;
        h1 {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
      
      // The text under the h1
      .gray {
        font-size: 1.25rem;
        text-align: center;
      }
    }

    #image-area {
      width: 12rem;
      height: 12rem;

      &::before {
        width: 18rem;
        height: 18rem;
        transform: rotate(-45deg) translate(0, -25%);
      }
    }
  }
  
}