@import "./scss/globals";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html { scrollbar-gutter: stable; }

body {
  @include flex(space-between, space-between, column);
  row-gap: 3rem;

  position: relative;
  background-color: $background-color;
  color: $text-color;

  min-height: 100vh;
  min-height: 100svh;
      

  a {
    text-decoration: none;
    color: $text-color;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .button { @include button; }

  // Input styles
  .input {
    
  }
}

@media screen and (max-width: $portrait-breakpoint) {
  body {
    row-gap: 5rem;
  }
}

@media screen and (max-width: $mobile-breakpoint) {

  body {
    // The main content area is slightly higher on mobile if I use svh, so
    // It will stay as vh for now.
    
    min-height: 100vh;
  }
  
}