@import "../../../scss/globals.scss";

@keyframes increaseWidth {
  from { width: 0; }
  to { width: 100%; }
}

#table {
  position: relative;

  width: 47rem;

  border-collapse: collapse;
  border-radius: 1rem;

  overflow: hidden;

  background-color: $foreground-color;

  thead {
    background-color: $foreground-color-dark;
  }

  .table-values-holder {

    transition: background-color $transition-duration ease;

    &:nth-of-type(even) {
      background-color: $foreground-color-dark;

      &:hover {
        background-color: $foreground-color-dark-hover;
      }
    }

    &:hover {
      background-color: $foreground-color-light;

      a {
        .table-value {
          &::before { width: 100%; }
        }
      }
      
    }

    a {
      text-decoration: none;
  
      @include flex;
  
      width: 11.5rem;
      height: 100%;

      .table-value {
        &::before {
          pointer-events: none;
  
          content: "";
            
          position: absolute;
          
          left: 50%;
          right: 50%;
          transform: translateX(-50%);
          bottom: 0;
  
          width: 0;
          height: 100%;
  
          border-bottom: thin solid $text-color;
  
          transition: width $transition-duration ease;
        }
      }
    }
  }

  .table-key,
  .table-value {
    text-align: center;

    position: relative;

    padding: 1rem;

    &:last-of-type { border-right: none; }
    &:first-of-type { width: 11.5rem; }
  }
}

