@import "../../../scss/globals.scss";

@keyframes increaseWidth {
  from { width: 0; }
  to { width: 100%; }
}

#table {
  position: relative;

  width: 52rem;

  border-collapse: collapse;
  border-radius: 1rem;

  overflow: hidden;

  background-color: $foreground-color;

  thead {
    background-color: $foreground-color-dark;
  }

  #table-keys-holder, .table-values-holder {
    height: 3rem;
  }

  .table-values-holder {

    transition: background-color $transition-duration ease;

    &:nth-of-type(even) {
      background-color: $foreground-color-dark;

      &:hover {
        background-color: $foreground-color-dark-hover;
      }
    }

    &:hover {
      background-color: $foreground-color-light;

      // Specific width so that it can line up with the anchor tag width.
      // It mostly lines up. Like it's only off by less than a pixel.
      .table-value:nth-of-type(2) {
        &::before { width: 86%; } 
      }
      
    }

    .table-value:nth-of-type(2) {
      &::before {
        pointer-events: none;

        content: "";
          
        position: absolute;
        
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        bottom: 0;

        width: 0;
        height: 100%;

        border-bottom: thin solid $text-color;

        transition: width $transition-duration ease;
      }

      a {
        text-decoration: none;
        
        @include flex;
        width: 100%;
        height: 3rem;
      }
    }
  }

  .table-key,
  .table-value {
    text-align: center;

    position: relative;

    height: 100%;

    padding: 0 1rem;

    &:last-of-type { border-right: none; }
    &:first-of-type, &:nth-of-type(2) { width: 14rem; }
  }
}

