@import "../../scss/globals";

#header {
  @include flex(center, center, column);
  row-gap: 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    color: $light-text-color;
  }
}