@import "../../scss/globals";

#item-area {
  @include flex;
  gap: 2rem 1.5em;
  flex-wrap: wrap;

  width: 50rem;
  height: fit-content;

  .item {
    @include flex(center, center, column);
    row-gap: 1rem;

    border-radius: 0.5rem;

    .image-holder {
      @include flex(center, center);

      padding: 1rem;

      width: 8rem;
      height: 8rem;

      border-radius: 1rem;

      background-color: $foreground-color;

      transition: background-color $transition-duration ease;

      &:hover, &:focus { background-color: $foreground-color-dark; }
    }

    .text-holder {
      width: 8rem;
      height: 4rem;

      text-align: center;

      p { text-wrap: pretty; }
    }
  }
}

@media screen and (max-width: $landscape-breakpoint) {
  #item-area {
    width: 30.75rem;
  }
}

// Tablet portrait viewport.
@media screen and (max-width: $portrait-breakpoint) {
  #item-area {
    order: 2;
    width: 30.75rem;
  }
}

// Mobile viewport.
@media screen and (max-width: $mobile-breakpoint) {
  #item-area {
    order: 2;

    width: 19.5rem;
  }
}