@import '../../scss/globals';

#container {
  @include flex(flex-start, center, column);
  flex: 1;
  row-gap: 8rem;

  height: 100%;

  #item-filter-area {
    @include flex(center, flex-start, row);
    column-gap: 4.5rem;
  }
}


@media screen and (max-width: $portrait-breakpoint) {
  #container {
    #item-filter-area {
      @include flex(flex-start, center, column);
      row-gap: 3rem;
    }
  }
}


@media screen and (max-width: $mobile-breakpoint) {
  #container {
    #item-filter-area {
      @include flex(flex-start, center, column);
      row-gap: 5rem;
    }
  }
}